@import 'nullstyle';

body {
  user-select: none;
  font-family: 'Arial', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: rgb(51, 51, 51);
}

body.locked {
  overflow: hidden;
}

.container {
  max-width: 1260px;
  padding: 0 30px;
  margin: 0 auto;
  @media screen and (max-width: 968px) {
    max-width: 760px;
  }
}

.cards__row {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  z-index: 0;
}
