.menu {
  &__list {
    display: flex;
    flex-direction: column;
  }
  &__list-item {
    display: inline-block;
    margin-bottom: 5px;
  }
  &__link {
    position: relative;
    display: block;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    transition: background-color 0.3s;
    &:hover,
    &.active {
      background-color: rgba(0, 0, 0, 0.2);
    }
  }
  @media screen and (max-width: 576px) {
    &__link {
      font-size: 18px;
    }
  }
}

.side-menu {
  position: fixed;
  top: 0;
  left: -130%;
  height: 100%;
  width: 300px;
  padding: 90px 20px 50px;
  z-index: 2;
  background: linear-gradient(to right, #67b26f, #4ca2cd);
  overflow-x: hidden;
  transition: 0.5s left;
  &.active {
    left: 0;
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      width: 300px;
      height: 90px;
      background: linear-gradient(to right, #67b26f, #4ca2cd);
      z-index: 2;
    }
  }
}
