.header {
  padding: 15px 0;
  &__body {
    display: flex;
    align-items: center;
  }
}

.burger {
  position: relative;
  left: 0;
  width: 50px;
  transition: 0.8s ease-in-out;
  z-index: 3;
  &::before,
  &::after,
  &__line {
    background: #ff4e50;
    content: '';
    display: block;
    height: 6px;
    border-radius: 3px;
    margin: 7px 0;
    transition: 0.5s;
  }
  &.active {
    position: fixed;
    left: 245px;
  }
  &.active:before {
    transform: translateY(12px) rotate(135deg);
  }
  &.active:after {
    transform: translateY(-12px) rotate(-135deg);
  }
  &.active .burger__line {
    transform: scale(0);
  }
  @media screen and (max-width: 576px) {
    width: 40px;
    &::before,
    &::after,
    &__line {
      height: 4px;
    }
    &.active::before {
      transform: translateY(10px) rotate(135deg);
    }
    &.active::after {
      transform: translateY(-10px) rotate(-135deg);
    }
  }
}

.overlay {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba($color: #000000, $alpha: 0.5);
}

.overlay.active {
  display: block;
}

.header__toggle input {
  display: none;
}

.header__toggle {
  display: inline-block;
  width: 90px;
  height: 40px;
  padding: 5px;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: 20px;
  position: relative;
  &-text {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 30px;
    box-shadow: 0 0 0 2px #92fe9d, 0 0 4px #92fe9d;
    background: linear-gradient(to right, #00c9ff, #92fe9d);
    cursor: pointer;
    overflow: hidden;
    color: #fff;
    transition: all 0.2s;
    z-index: 1;
    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 5%;
      width: 30px;
      height: 30px;
      background-color: #fff;
      border-radius: 30px;
      transform: translateY(-50%);
      transition: left 0.2s;
      z-index: 2;
    }
    span {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 6%;
    }
  }
  input:checked + &-text:before {
    left: 62%;
  }

  input:checked + &-text {
    background: linear-gradient(to right, #ff4e50, #f9d423);
    box-shadow: 0 0 0 2px #f9d423, 0 0 8px #f9d423;
    span {
      left: 10%;
    }
  }

  @media screen and (max-width: 576px) {
    width: 80px;
    height: 35px;
    font-size: 14px;
    &-text {
      &::before {
        width: 25px;
        height: 25px;
      }
    }
  }
}
