.admin-header {
  padding: 20px 0;
  background-color: #00c9ff;
  &__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__nav {
    display: flex;
    align-items: center;
  }
  &__link {
    margin-right: 20px;
    color: #fff;
    line-height: 1;
  }
  &__link.active,
  &__link:hover {
    border-bottom: 1px solid #fff;
  }
}
