.admin-header {
  padding: 20px 0;
  background-color: #00c9ff;
  &__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__nav {
    display: flex;
    align-items: center;
  }
  &__link {
    color: #fff;
    line-height: 1;
    font-size: 18px;
    border-bottom: 1px solid transparent;
    &:first-child {
      margin-right: 20px;
    }
  }
  &__link.active,
  &__link:hover {
    border-color: #fff;
  }
  @media screen and (max-width: 968px) {
    &__link {
      font-size: 16px;
    }
  }
  @media screen and (max-width: 576px) {
    &__link {
      font-size: 14px;
    }
  }
}
